<div style="width: 800px;">
~[if#EDITCCACCESS.security.pagenone=/admin/students/editcc.html]
<p>You Do Not Access To Edit CC Records.</p>
[else#EDITCCACCESS]
<form onsubmit="return" action="/admin/students/allenrollments.html?frn=~(studentfrn)&editcc=true" method="POST" class="submitOnce" id="submitForm">
    <div id="replaceMe" class="progress large" data-pss-wait-spinner="large"></div>
</form>
    <div style="width: 600px;">
    <h2>Log Contents</h2>
    <table class="grid" style="width: 600px;">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>User</th>
                <th>School</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            ~[tlist_sql;
                SELECT DISTINCT x.timestampdata, tea.lastfirst, DECODE(x.schoolid,0,'District Office',sch.NAME), x.actiondata
                FROM CC
                CROSS JOIN
                        XMLTABLE(
                                '/xmldata/logrow'
                                PASSING XMLTYPE(
                                        '<xmldata>' ||
                                        REPLACE(
                                                REPLACE(
                                                        REPLACE(
                                                                REPLACE(
                                                                        REPLACE(
                                                                                to_char(cc.log)
                                                                                ,CHR(91)
                                                                                ,'<logrow><timestampdata>'
                                                                                )
                                                                        ,'-u'
                                                                        ,'</timestampdata><userid>'
                                                                        )
                                                                 ,'-s'
                                                                 ,'</userid><schoolid>'
                                                                 )
                                                         ,CHR(93)
                                                         ,'</schoolid><actiondata>'
                                                         )
                                                ,'<BR>'
                                                ,'</actiondata></logrow>'
                                                ) ||
                                        '</xmldata>'
                                )
                                COLUMNS 
                                        timestampdata VARCHAR2(200) PATH 'timestampdata',
                                        userid VARCHAR2(200) PATH 'userid',
                                        schoolid VARCHAR2(200) PATH 'schoolid',
                                        actiondata VARCHAR2(200) PATH 'actiondata'
                                ) x
                        INNER JOIN TEACHERS tea
                            ON TRIM(x.userid)=tea.id
                        LEFT JOIN SCHOOLS sch
                            ON TRIM(x.schoolid)=sch.SCHOOL_NUMBER
                WHERE '004'||CC.DCID=~(gpv.frn)
                ORDER BY TO_DATE(REGEXP_REPLACE(x.timestampdata,'-.*'),'MM/DD/YYYY'), x.timestampdata
                ;nonemessage=<tr><td colspan="100%">Log contents empty or could not be parsed. ~(log)</td></tr>
                ;]<tr><td>~(timestamp)</td><td>~(user)</td><td>~(school)</td><td>~(action)</td></tr>[/tlist_sql]
        </tbody>
    </table>
    </div>
    <div id="cust-content-footer">~[cust.insertion_point:content.footer]</div>
    <p id="new-tab-link"><a href="/admin/students/editcc.html?frn=~(gpv.frn)&breadcrumb=~(gpv.breadcrumb)" target="_blank">Open in new tab.</a></p>
	[/if#EDITCCACCESS]
</div>

~[if#EDITCCACCESS.security.pagenone=/admin/students/editcc.html][else#EDITCCACCESS]
<script>
    //$j("form#submitForm").load("/admin/students/editcc.html?frn=~(gpv.frn)&breadcrumb=~(gpv.breadcrumb) div.box-round:first");
    /*$j.get('/admin/students/editcc.html?frn=~(gpv.frn)&breadcrumb=~(gpv.breadcrumb)').then(function(response) {
        let $editccContent = $j(response).find('div.box-round').first();
        $j("form#submitForm").html($editccContent);
        initBehaviors();
    });*/
    $j(function(){
        $j('form#submitForm').prepend( $j('#temporaryTemplate div.box-round').first().children() );
        $j('#replaceMe').remove();
        $j('#temporaryTemplate').remove();
        ~[if#ILSTATE.~[giv:*state_abbr]=IL]
        //Fix IL course final grade select really long options
        $j('#selectCourseFinal option').each(function( index ) {
            var origText = $j(this).text();
            var splitText = origText.split(')');
            var newText = splitText[0];
            newText = $j.trim(newText).replace("(","");
            splitText = splitText.slice(1);
            var titleText = splitText.join(')');
            titleText = $j.trim(titleText);
            $j(this).text( newText ).attr('title',titleText );
        });
        [/if#ILSTATE]
        ~[if#EDITCCREADONLY.security.pagemod=/admin/students/editcc.html][else#EDITCCREADONLY]$j('form#submitForm button').remove();[/if#EDITCCREADONLY]
    });
</script>
<text type="template/html" id="temporaryTemplate" style="display:none">
~[x:insertfile;/admin/students/editcc.html]
</text>
[/if#EDITCCACCESS]


