<div style="width: 800px;">
<div id="insertScores">
</div>
</div>
<script>
    //$j("form#submitForm").load("/admin/students/editcc.html?frn=~(gpv.frn)&breadcrumb=~(gpv.breadcrumb) div.box-round:first");
    /*$j.get('/admin/students/scores.html?frn=~(gpv.frn)').then(function(response) {
        let $scoresContent = $j(response).filter('div.box-round:first');
        $j("div#insertScores").html($scoresContent);
    });*/
    $j(document).ready(function(){
        $j('div#insertScores').html( $j('#temporaryTemplate div.box-round:first') ); //
        $j('#temporaryTemplate').remove();
    });
</script>
<text type="template/html" id="temporaryTemplate" style="display:none">
~[x:insertfile;/admin/students/scores.html]
</text>